<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="container">
        <h1>Listado de Series de Televisión</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Channel</th>
              <th>Seasons</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serie of series">
              <td>{{ serie.id }}</td>
              <td>{{ serie.name }}</td>
              <td>{{ serie.channel }}</td>
              <td>{{ serie.seasons }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container">
        <p>{{ dataShow }}</p>
      </div>
    </div>
  </div>
</div>